@import "tailwindcss";

* {
  /* Font is added here */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Custom heading-style css... */
.heading-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* subheading styles */
.subheading-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* One more custome text addded*/
.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  